<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <md-card >
      <md-card-title i18n="@@fitness.step.current">Today steps</md-card-title>
      <md-card-content><gauge-chart #todaySteps unit="steps" i18n-unit="@@fitness.step.unit" goal="8000"></gauge-chart></md-card-content>
    </md-card>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <md-card>
      <md-card-title i18n="@@fitness.step.average">Average steps</md-card-title>
      <md-card-content><gauge-chart #averageSteps unit="steps" i18n-unit="@@fitness.step.unit" goal="8000"></gauge-chart></md-card-content>
    </md-card>
  </div>  
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <md-card>
      <md-card-title i18n="@@fitness.distance">Distance</md-card-title>
      <md-card-content><gauge-chart #distance unit="km"></gauge-chart></md-card-content>
    </md-card>
  </div>  
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">  
    <md-card>
      <md-card-title i18n="@@fitness.step.details" >Steps details</md-card-title>
      <md-card-content><column-chart #detailsSteps  unit="steps" i18n-unit="@@fitness.step.unit" goal="8000"></column-chart></md-card-content>
    </md-card>
  </div>
</div>
