<div class="mdl-grid">
    <md-card class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <md-card-title i18n="@@fitness.step">Steps</md-card-title>
      <md-card-content>test</md-card-content>
    </md-card>

    <md-card class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <md-card-title i18n="@@fitness.distance">Distance</md-card-title>
      <md-card-content>test</md-card-content>
    </md-card>

    <md-card class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <md-card-title i18n="@@fitness.distance">Distance</md-card-title>
      <md-card-content>test</md-card-content>
    </md-card>

    <md-card class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <md-card-title i18n="@@fitness.distance">Distance</md-card-title>
      <md-card-content>test</md-card-content>
    </md-card>
</div>
